html{
    background-color: #eef5ee;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-image: url("header.png");
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#headerbar{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}

#logocontainer{
    width: 70%;
    padding-top: 15px;
    padding-left: 15px;
}

#idlogopng{
    width: 30%;
    height: 30%;
}

#headercontrols{
    display: flex;
    width: 30%;
}

.hbclass{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.hbuttons{
    background-color: transparent;
    border: 0;
    transition-duration: 0.2s;
    height: 100%;
    width: 100%;
}

.hbuttons:hover{
    background-color: black;
    color: white;
}

#searchbarcontainer{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#search{
    background-color: white;
    border: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 550px;
    box-shadow: 0px 13px 8px -4px rgba(0,0,0,0.71);
    -webkit-box-shadow: 0px 13px 8px -4px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 13px 8px -4px rgba(0,0,0,0.71);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#searchbutton{
    padding: 18.2px;
    border: 0;
    background-color: white;
    color: #0C3B2E;
    transition-duration: 0.2s;
}

#searchbuttoncontainer{
    bbox-shadow: 0px 13px 8px -4px rgba(0,0,0,0.71);
    -webkit-box-shadow: 0px 13px 8px -4px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 13px 8px -4px rgba(0,0,0,0.71);
    background-color: transparent;
}

#searchbutton:hover{
    background-color: #0C3B2E;
    color: white;
}

#searchbutton:active{
    box-shadow: 10px 10px 11px 0px rgba(255,255,255,1) inset,
    10px 10px 11px 0px rgba(255,255,255,1) inset;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(255,255,255,1) inset,
    10px 10px 11px 0px rgba(255,255,255,1) inset;
    -moz-box-shadow: 10px 10px 11px 0px rgba(255,255,255,1) inset,
    10px 10px 11px 0px rgba(255,255,255,1) inset;
}
