html{
    height: 100vh;
}

body{
    height: 80% ; /* bcuz the padding will create extra space around*/
    margin: 0;
    background-color: #eecb87;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 45px;
    gap: 100px;
}

.desc{
    width: 45%;
    height: 100% - 40px; /* total height - total vertical padding*/
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: #b83f60;
    border-radius: 20px;
    box-shadow: 
        5px 10px 0px rgba(0, 0, 0, 0.5),
        inset 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.desc>img{
    height: 350px;
    width: 100%;
}

.desc > p{
    color: #eecb87;
}

.loginbg{
    width: 40%;
    height: 100%;
    background-color: #b83f60;
    border-radius: 20px;
    box-shadow: 
        5px 10px 0px rgba(0, 0, 0, 0.5),
        inset 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.signin{
    border-radius: 15px;
    width: 200px;
    height: 35px;
    background-color: #8fae85;
    box-shadow: 
        2px 5px 0px rgba(0, 0, 0, 0.5),
        inset 2px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}

.loginelements{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

#forgotpassword{
    font-family: 'Roboto';
    color: white;
    margin: 0;
}

a:link, a:visited, a:active{
    color: #eecb87;
}

#email, #pw{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    padding-left: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}