<!DOCTYPE html>

<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/post_style.css">
        <link rel="stylesheet" href="/css/comment_header.css">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>

    <body>
        <!--
        <header class="header shadow">
            <div class="header-left">
                <img class="logo" />
                <div class="searcharea">
                <input type="search" class="searchbox" placeholder="search...">
                <button class="search"></button>
            </div>

            <div class="header-middle">
                
            </div>

            </div>
            
            <p class="logout">logout</p>
        </header>
        -->
        <div id="header">
            <div id="logodiv">
                <a href="mco_home_registered.html"><img id="logo" src="/css/assets/logo4.png"></a>
            </div>
            <div class="searchbarcontainer">
                <div class="searchbar">
                    <input type="search" placeholder="Search..."\>
                </div>
                <div class="searchbuttoncontainer">
                    <button class="searchbutton" type="submit">
                        <svg class="mg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="headerbuttons">
    
            </div>
        </div>  


        <div class="contents">
            <div class="user">
                <img class="userpfp" src="https://tse2.mm.bing.net/th?id=OIP.52L1HoqsjyL47LYaC2CBGwHaKF&pid=Api&P=0&h=180"/>
                <div class="username">@m0z4rt_f4n</div>
            </div>

            <div class="post-content">
                <h3 class="title">Unveiling the Timeless Genius of Mozart: A Symphony of Perfection</h3>
                <p class="post-text">Mozart's timeless compositions continue to enchant listeners with their exquisite melodies and unparalleled craftsmanship. Dive into the symphonies and piano concertos of this legendary composer, whose music speaks to universal emotions of joy, sorrow, and longing, transcending the constraints of time and leaving an enduring legacy for generations to come.</p>
            </div>


            <article>

                <div class="new-comment-area">
                    <div class="new-comment">
                        <img class="userpfp" src="https://64.media.tumblr.com/821f1a7cf8af5ea6ce73271d5965a794/0c806963e6b54cef-4a/s640x960/5d2467aa3b480548fff5c4c58b44903710b548f6.jpg">
                        <textarea placeholder="Add a comment..."></textarea>
                    </div>
    
                    
                    <div class="publish-comment" >publish comment</div>    

                </div>


                <ol class="comments">
                    <% comments.forEach(comment => { %>
                    <li id="<%= 'comment-' + comment._id %>">
                        <div class="comment-text">
                            <img class="userpfp" src="https://i.pinimg.com/originals/72/37/69/72376954787f8767d5810a90127fcf8c.jpg"/><p class="comment"><%= comment.body %></p>
                            <div class="dropdown">
                                <button onclick="myFunction('dropdown1')" class="dropbtn">&#8942;</button>
                                <div id="dropdown1" class="dropdown-content">
                                    <!-- Dropdown content for Button 2 -->
                                    <a href="">Edit</a>
                                    <a href="">Delete</a>
                                    <a href="">Report</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="comment-interactions">
                            <div class="comm-rate">
                                <img id="like" src="/css/assets/like.png" onclick="react(this, 'comment-1')"><span id="like-num"> 1K </span>
                                <img id="dislike" src="/css/assets/dislike.png" onclick="react(this, 'comment-1')">
                             </div>    <span class="reply" onclick="openReplyBox()"> reply </span>

                        </div>
                        
                        
                    </li>
                    <% }) %>
 
                </ol>
            </article>


        </div>

        <!-- scripts -->
        <script>
            function react(element, containerId) {
                // Toggle the 'clicked' class to change the color
                var container = document.getElementById(containerId);
                var elements = container.querySelectorAll('.comm-rate img');
                elements.forEach(function(el) {
                    if (el !== element && el.classList.contains('clicked')) {
                        el.classList.remove('clicked');
                    }
                });
                
                element.classList.toggle('clicked');
            }
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
    

                const header = document.querySelector('#header');
                document.querySelector(".searchbarcontainer").style.height = getComputedStyle(header).height;
            
            
                const searchButton = document.querySelector(".searchbutton");
                const searchBar = document.querySelector(".searchbar");
                const searchBarHeight = getComputedStyle(searchBar).height;
                searchButton.style.height = searchBarHeight;
            
                const dropbutton = document.getElementById("dropdownbutton");
                const optionsdiv = document.getElementById("optionsdiv");
                dropbutton.addEventListener("mouseenter", function(){
                    optionsdiv.classList.toggle("show");
                });
            
                window.onclick = function(event) {
                    if (!event.target.matches('#dropdownbutton')) {
                        var dropdowns = document.getElementsByClassName("dropdowncontent");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            
                const profilebutton = document.getElementById("profilebutton");
                const settingsbutton = document.getElementById("settingsbutton");
                
                
                settingsbutton.addEventListener("click", function(){
                    window.location.href = 'settings.html';
                });
                profilebutton.addEventListener("click", function(){
                    window.location.href = 'userprofile_rosales.html';
                });
            
                const html = document.documentElement;
                const headerbg = document.getElementById("header");
                const dmodetoggle = document.getElementById("dmodetoggle");
                const body = document.getElementById("body");
            
                dmodetoggle.addEventListener("click", function(){
                    headerbg.classList.toggle("blackbg");
                    body.classList.toggle("graybg");
                });
            
            
            });            
        </script>
        <script>
            function myFunction(dropdownId) {
                var dropdown = document.getElementById(dropdownId);
                dropdown.classList.toggle("show");
            }
            
            // Close the dropdown menu if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
        
    </body>
</html>